# Python&#10;__pycache__/__*&#10;*.py[cod]&#10;*.pyc&#10;$python_version&#10;.env&#10;.venv/&#10;env/&#10;venv/&#10;.Python&#10;build/&#10;develop-eggs/&#10;dist/&#10;downloads/&#10;eggs/&#10;.eggs/&#10;lib/&#10;lib64/&#10;parts/&#10;sdist/&#10;var/&#10;wheels/&#10;*.egg-info/&#10;.installed.cfg&#10;*.egg&#10;backend/logs/*.log&#10;&#10;# React&#10;frontend/node_modules/&#10;frontend/build/&#10;frontend/.env&#10;frontend/.env.local&#10;frontend/.env.development.local&#10;frontend/.env.test.local&#10;frontend/.env.production.local&#10;&#10;# IDE&#10;.vscode/*&#10;!.vscode/settings.json&#10;.idea&#10;&#10;# OS&#10;.DS_Store&#10;Thumbs.db
